{{>licenseInfo}}
package {{package}}

{{#imports}}
import {{import}}
{{/imports}}
import {{invokerPackage}}.JsonSupport._
import sttp.tapir._
import sttp.tapir.EndpointIO.annotations._
import sttp.model._
import scala.deprecated
import sttp.client3.SttpBackend
import sttp.tapir.client.sttp.SttpClientInterpreter

{{#operations}}
trait {{classname}}[F[_]] {
  import {{classname}}._
{{#operation}}
  def {{operationId}}(input: {{operationIdCamelCase}}Input): F[Either[Unit,{{operationIdCamelCase}}Output]]
{{/operation}}
}

object {{classname}} {
  val baseUrl: String = "{{{basePath}}}"
{{#operation}}
  @endpointInput("{{{path}}}")
  case class {{operationIdCamelCase}}Input (
  {{#authMethods}}
    {{#isBasicBasic}}
        @basic paramName: UsernamePassword
    {{/isBasicBasic}}
    {{#isBasicBearer}}
        @bearer {{>fieldEncoder}}
    {{/isBasicBearer}}
    {{#isKeyInCookie}}
        no cookie authentication implemented
    {{/isKeyInCookie}}
  {{/authMethods}}
  {{#requiredParams}}
    {{>paramType}} {{>fieldEncoder}}
  {{/requiredParams}}
  {{#optionalParams}}
    {{>paramType}} {{>fieldEncoder}}
  {{/optionalParams}}
  )

  object {{operationIdCamelCase}}Input{
    val endpointInput: EndpointInput[{{operationIdCamelCase}}Input] = EndpointInput.derived
  }

  case class {{operationIdCamelCase}}Output({{#responses}}{{#is2xx}}{{#headers}}
    @header {{>fieldEncoder}}{{/headers}}
    @jsonbody body {{>fieldEncoder}}{{/is2xx}}{{/responses}})
  object {{operationIdCamelCase}}Output{
    val endpointOutput: EndpointOutput[{{operationIdCamelCase}}Output] = EndpointOutput.derived
  }

  {{#javadocRenderer}}
      {{>javadoc}}
  {{/javadocRenderer}}
  {{#isDeprecated}}@deprecated{{/isDeprecated}}
  val {{operationId}} = endpoint
      .method(Method.{{httpMethod.toUpperCase}})
      .in({{operationIdCamelCase}}Input.endpointInput)
      .out({{operationIdCamelCase}}Output.endpointOutput)

{{/operation}}

  def bind[F[_]](t: {{classname}}[F]) = Seq(
{{#operation}}    {{operationId}}.serverLogic(t.{{operationId}}){{^-last}},{{/-last}}
{{/operation}}
  )

  def stub[F[_], P](url: Option[Uri], interpeter: SttpClientInterpreter, backend: SttpBackend[F, P]): {{classname}}[F] = new {{classname}}[F]{
{{#operation}}
    override def {{operationId}}(input: {{operationIdCamelCase}}Input): F[Either[Unit,{{operationIdCamelCase}}Output]] = {{operationId}}Client(input)
{{/operation}}

{{#operation}}
    private val {{operationId}}Client = interpeter.toClientThrowDecodeFailures({{classname}}.{{operationId}}, url, backend)
{{/operation}}
  }
}
{{/operations}}
