{{>licenseInfo}}
package {{package}}

{{#imports}}
import {{import}}
{{/imports}}

{{#models}}
{{#model}}
{{#description}}
{{#javadocRenderer}}
{{#title}}
{{{.}}}
{{/title}}
{{{description}}}
{{/javadocRenderer}}
{{/description}}
{{^isEnum}}
case class {{classname}}(
  {{#vars}}
  {{#description}}
  /* {{{.}}} */
  {{/description}}
  {{{name}}}: {{^required}}Option[{{/required}}{{^isEnum}}{{dataType}}{{/isEnum}}{{#isEnum}}{{classname}}Enums.{{datatypeWithEnum}}{{/isEnum}}{{^required}}] = None{{/required}}{{^-last}},{{/-last}}
  {{/vars}}
)
object {{classname}}{
{{#circe}}
    import io.circe._
    import io.circe.generic.semiauto._
    import {{invokerPackage}}.JsonSupport._
    implicit val codec: Codec[{{classname}}] = deriveCodec[{{classname}}]
{{/circe}}
{{#upickle}}
    import {{invokerPackage}}.JsonSupport._
    import upickle.default.{ReadWriter => RW, macroRW}
    implicit val codec: RW[{{classname}}] = macroRW[{{classname}}]
{{/upickle}}
{{#jsoniter}}
    import {{invokerPackage}}.JsonSupport._
    import com.github.plokhotnyuk.jsoniter_scala.macros._
    import com.github.plokhotnyuk.jsoniter_scala.core._
    implicit val codec: JsonValueCodec[{{classname}}] = JsonCodecMaker.make
{{/jsoniter}}
}

{{/isEnum}}

{{#isEnum}}
object {{classname}} extends Enumeration {
    type {{classname}} = {{classname}}.Value
{{#allowableValues}}
    {{#values}}
    val {{#fnEnumEntry}}{{.}}{{/fnEnumEntry}} = Value("{{.}}")
    {{/values}}
{{/allowableValues}}
}
{{/isEnum}}
{{#hasEnums}}
object {{classname}}Enums {

  {{#vars}}
  {{#isEnum}}
  type {{datatypeWithEnum}} = {{datatypeWithEnum}}.Value
  {{/isEnum}}
  {{/vars}}
  {{#vars}}
  {{#isEnum}}
  object {{datatypeWithEnum}} extends Enumeration {
{{#_enum}}
    val {{#fnEnumEntry}}{{.}}{{/fnEnumEntry}} = Value("{{.}}")
{{/_enum}}
  }

  {{/isEnum}}
  {{/vars}}
}
{{/hasEnums}}
{{/model}}
{{/models}}
