 {{#isPathParam}}@path{{/isPathParam}}{{#isQueryParam}}@query{{/isQueryParam}}{{#isHeaderParam}}@header{{/isHeaderParam}}{{#isCookieParam}}@cookie{{/isCookieParam}}{{#isBodyParam}}@jsonbody{{/isBodyParam}}