 {{#isPathParam}}@annotations.path{{/isPathParam}}{{#isQueryParam}}@annotations.query{{/isQueryParam}}{{#isHeaderParam}}@annotations.header{{/isHeaderParam}}{{#isCookieParam}}@annotations.cookie{{/isCookieParam}}{{#isBodyParam}}@annotations.jsonbody{{/isBodyParam}}